$mobile-portrait: 768px;

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-s);
  padding: var(--spacing-s);
  height: 100vh;

  @media (min-width: $mobile-portrait) {
    padding: var(--spacing-m);
  }
}

.progress {
  max-width: 20rem;
  width: 100%;
}

.title {
  margin-bottom: var(--spacing-s);
  font-size: var(--font-size-l);

  @media (min-width: $mobile-portrait) {
    font-size: var(--font-size-xl);
  }
}
