$mobile-portrait: 768px;

.logged {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: var(--spacing-xs);
  text-transform: uppercase;
  font-size: var(--font-size-xs);

  @media (min-width: $mobile-portrait) {
    top: 0.25rem;
    right: 0.25rem;
    font-size: var(--font-size-s);
  }
}
