@font-face {
  font-family: 'Simplest';
  src:
    url('../fonts/Simplest.woff') format('woff'),
    url('../fonts/Simplest.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Icon';
  src:
    url('../fonts/Icon.woff') format('woff'),
    url('../fonts/Icon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
