@mixin font {
  --font-text: 'Simplest';
}

@mixin color {
  --color-1: #252529;
  --color-2: #030009;
  --color-3: #00ff04;
  --color-4: #0000ff;
  --color-5: #fcff00;
  --color-6: #ff0000;
  --color-7: #00ffff;
  --color-8: #6300ff;
  --color-9: #ff6800;
  --color-10: #fb0259;
}

@mixin size {
  --font-size-l: 5rem;
  --font-size-m: 2.5rem;
  --font-size-s: 1.5rem;
  --font-size-xs: 1rem;
}

@mixin spacing {
  --spacing-l: 2rem;
  --spacing-m: 1.5rem;
  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;
}

@mixin easing {
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-in: cubic-bezier(1, 0.005, 0, 1.2);
  --ease-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-expo: cubic-bezier(0.25, 0.8, 0.25, 1);
}

:root {
  @include font();
  @include color();
  @include size();
  @include spacing();
  @include easing();
}
