.dials {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  overflow: hidden;
  padding: var(--spacing-xs);
  background-color: var(--mode-color-2);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
