.tag {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-x-small);
  padding: var(--spacing-x-small);
  border: 0.15rem solid var(--theme-color-1);
  line-height: var(--font-size-medium);
  font-size: var(--font-size-medium);
  color: var(--theme-color-1);

  &.green {
    background-color: var(--theme-color-14);
  }

  &.orange {
    background-color: var(--theme-color-12);
  }

  &.pink {
    background-color: var(--theme-color-10);
  }

  &.purple {
    background-color: var(--theme-color-8);
  }

  &.red {
    background-color: var(--theme-color-11);
  }
}

.icon {
  font-size: var(--font-size-medium);
}
