.card {
  flex-direction: column;
}

.title {
  padding: var(--spacing-xs);
  background-color: var(--color-3);
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--color-2);
}

.group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--spacing-xs);
}

.value {
  font-size: var(--font-size-l);
  color: var(--color-2);
}

.label {
  font-size: var(--font-size-s);
  color: var(--color-2);

  //& + .button {
  //  margin-top: var(--spacing-xs);
  //}
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  margin-top: var(--spacing-xs);
}
