.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  justify-content: center;
  height: 100vh;
}

.label {
  font-size: var(--font-size-l);
  color: var(--theme-color-1);
}
