.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-s);
  justify-content: center;
  height: 100vh;
}

.label {
  font-size: calc(var(--font-size-m) + var(--font-size-l));
  color: var(--color-3);
}
