.progress {
  display: flex;
  flex-direction: column;

  &.s {
    font-size: var(--font-size-s);
  }

  &.m {
    font-size: var(--font-size-m);
  }

  &.l {
    font-size: var(--font-size-l);
  }

  &.completed {
    color: var(--color-14);
  }
}
