.button {
  display: inline-flex;
  align-items: center;
  border: none;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-text), sans-serif;
  font-weight: normal;
  cursor: pointer;

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}
