.button {
  display: inline-flex;
  align-items: center;
  border: none;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-text), sans-serif;
  font-weight: normal;
  cursor: pointer;

  &:focus-visible,
  &:active {
    outline: 0.35rem solid var(--theme-color-9);
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}
