.button {
  display: inline-flex;
  align-items: center;
  border: none;
  line-height: 1.1;
  text-decoration: none;
  font-family: var(--font-text), sans-serif;
  font-weight: normal;
  cursor: pointer;

  &:focus-visible {
    outline-style: solid;
    outline-color: var(--color-15);
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}
