.button {
  display: inline-flex;
  align-items: center;
  border: none;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-text), sans-serif;
  font-weight: normal;
  cursor: pointer;

  &:focus-visible,
  &:active {
    outline-color: var(--theme-color-14);
    outline-style: solid;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}
