.profile {
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100vw;
}

.inner {
  position: relative;
  z-index: 2;
}

.planet {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: 1;
  width: 10rem;
  height: 10rem;
  background: grey;
  transform: translateY(200%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease-quad);
  transition-delay: 0.15s;

  .active & {
    transform: translateY(0);
    opacity: 1;
    transition-duration: 0.15s, 0.5s;
    transition-delay: 0.5s;
    animation: Slide4 50s infinite alternate;
  }
}

.stars {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 10%;
  width: 40rem;
  transform: translateX(-100%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.25s, 0.75s;
  transition-timing-function: var(--ease-quad);

  .active & {
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
  }
}

.star1 {
  position: relative;
  width: 2rem;
  height: 2rem;
  background: grey;

  .active & {
    animation: Slide1 50s infinite alternate;
  }
}

.star2 {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  background: grey;

  .active & {
    animation: Slide2 60s infinite alternate;
  }
}

.star3 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: grey;

  .active & {
    animation: Slide3 45s infinite alternate;
  }
}

@keyframes Slide1 {
  0% {
    left: 0;
  }
  50% {
    left: 30%;
  }
  100% {
    left: 0;
  }
}

@keyframes Slide2 {
  0% {
    left: 50%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 50%;
  }
}

@keyframes Slide3 {
  0% {
    left: 0;
  }
  50% {
    left: 45%;
  }
  100% {
    left: 0;
  }
}

@keyframes Slide4 {
  0% {
    top: 30%;
  }
  50% {
    top: 35%;
  }
  100% {
    top: 30%;
  }
}
