.card {
  background-color: #fcff00;
}

.title {
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  font-size: var(--font-size-m);
  box-shadow: 0 0.2rem var(--color-2);
  color: var(--color-2);
}
