.alert {
  overflow: hidden;
  width: 25rem;
  color: var(--color-2);
  pointer-events: initial;
  //will-change: width, opacity, transform;
  //backface-visibility: hidden;

  &.in {
    animation: Appear 500ms var(--ease-expo);
  }

  &.out {
    width: 8rem;
    opacity: 0;
    transform: translateX(-4rem);
    transition-property: width, opacity, transform;
    transition-duration: 500ms, 300ms, 500ms;
    transition-delay: 0ms, 100ms, 0ms;
    transition-timing-function: var(--ease-expo);
  }

  &.success {
    background-color: var(--color-8);
  }

  &.info {
    background-color: var(--color-6);
  }

  &.warning {
    background-color: var(--color-9);
  }

  &.error {
    background-color: var(--color-11);
  }
}

.inner {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  width: 25rem;
  white-space: collapse;
}

.text {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small);
  font-size: var(--font-size-small);
  color: var(--color-2);

  .out & {
    transition: transform 500ms var(--ease-expo);
    transform: translateX(-10rem);
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.button {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-small);
  background-color: var(--color-2);
  font-size: var(--font-size-small);
  pointer-events: initial;
  outline-offset: -0.25rem;

  .success & {
    color: var(--color-8);
  }

  .info & {
    color: var(--color-6);
  }

  .warning & {
    color: var(--color-9);
  }

  .error & {
    color: var(--color-11);
  }
}

@keyframes Appear {
  0% {
    transform: translate3d(100%, 0, 0);
  }
}
