.notice {
  overflow: hidden;
  width: 25rem;
  color: var(--theme-color-1);
  pointer-events: initial;
  //will-change: width, opacity, transform;
  //backface-visibility: hidden;

  &.in {
    animation: Appear 500ms var(--ease-expo);
  }

  &.out {
    width: 8rem;
    opacity: 0;
    transform: translateX(-4rem);
    transition-property: width, opacity, transform;
    transition-duration: 500ms, 300ms, 500ms;
    transition-delay: 0ms, 100ms, 0ms;
    transition-timing-function: var(--ease-expo);
  }

  &.success {
    background-color: var(--theme-color-14);
  }

  &.info {
    background-color: var(--theme-color-13);
  }

  &.warning {
    background-color: var(--theme-color-12);
  }

  &.error {
    background-color: var(--theme-color-10);
  }
}

.inner {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  width: 25rem;
  white-space: collapse;
}

.text {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-small);
  font-size: var(--font-size-small);
  color: var(--theme-color-1);

  .out & {
    transition: transform 500ms var(--ease-expo);
    transform: translateX(-10rem);
  }
}

.button {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-medium);
  background-color: var(--theme-color-1);
  font-size: var(--font-size-medium);
  pointer-events: initial;

  &:focus-visible,
  &:active {
    outline-width: 0.35rem;
    outline-offset: -0.25rem;
  }

  .success & {
    color: var(--theme-color-14);
  }

  .info & {
    color: var(--theme-color-13);
  }

  .warning & {
    color: var(--theme-color-12);
  }

  .error & {
    color: var(--theme-color-10);
  }
}

@keyframes Appear {
  0% {
    transform: translate3d(100%, 0, 0);
  }
}
