.factory {
  position: relative;
  overflow-y: auto;
  scroll-behavior: smooth;
  width: 100vw;
  display: flex;
}

.button {
  padding: var(--spacing-s);
  background-color: red;
}

//.meteor {
//  position: absolute;
//  z-index: 1;
//  width: 1rem;
//  height: 1rem;
//  background: white;
//  box-shadow: 1rem -1rem 0px 0.005rem rgba(255, 255, 255, 0.2);
//
//  .active & {
//    animation: Meteor 5s ease-in-out infinite;
//  }
//}

.stars {
  position: absolute;
  z-index: 1;
  top: 20%;
  right: 10%;
  width: 40rem;
  transform: translateX(200%);
  opacity: 0;
  transition-property: transform, opacity;
  transition-timing-function: var(--ease-quad);

  .active & {
    transform: translateX(0);
    opacity: 1;
    transition-duration: 0.25s, 0.75s;
    transition-delay: 0.75s;
  }
}

.star1 {
  position: relative;
  width: 2rem;
  height: 2rem;
  background: grey;

  .active & {
    animation: Star1 60s infinite alternate;
  }
}

.star2 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: grey;

  .active & {
    animation: Star2 60s infinite alternate;
  }
}

.star3 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background: grey;

  .active & {
    animation: star3 70s infinite alternate;
  }
}

.star4 {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  background: grey;

  .active & {
    animation: star4 70s infinite alternate;
  }
}

.star5 {
  position: relative;
  width: 2rem;
  height: 2rem;
  background: grey;

  .active & {
    animation: Star5 60s infinite alternate;
  }
}

//@keyframes Meteor {
//  0% {
//    top: 0;
//    left: 80%;
//  }
//  10% {
//    top: 110%;
//    left: 15%;
//  }
//}

@keyframes Star1 {
  0% {
    left: 60%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 60%;
  }
}

@keyframes Star2 {
  0% {
    left: 80%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 80%;
  }
}

@keyframes star3 {
  0% {
    left: 20%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 20%;
  }
}

@keyframes star4 {
  0% {
    left: 0;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 0;
  }
}

@keyframes Star5 {
  0% {
    left: 70%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 70%;
  }
}
