.progressBar {
  display: flex;
  height: 10px;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background-color: #eee;
}

.used {
  background-color: #4caf50; // vert ou bleu
}

.unlocked {
  background-color: #ffc107; // jaune
}

.locked {
  background-color: #9e9e9e; // gris
}
