.icon {
  text-transform: initial;
  font-family: var(--font-icon), sans-serif;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
  font-variation-settings: 'FILL' 1;
  font-size: inherit;
  color: inherit;
}
