.banner {
  display: flex;
  gap: var(--spacing-medium);
  flex-wrap: wrap;
  align-items: center;
  animation: FadeIn 700ms var(--ease-quad) backwards 100ms;
}

.title {
  display: flex;
  gap: var(--spacing-small);
  text-transform: uppercase;
  font-size: var(--font-size-large);
  color: var(--theme-color-3);
}

.button {
  padding: var(--spacing-small);
  background-color: var(--theme-color-3);
  font-size: var(--font-size-medium);
  color: var(--theme-color-1);

  &:focus-visible,
  &:active {
    outline-width: 0.35rem;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}
