$mobile-portrait: 769px;
$mobile-landscape: 1024px;

.banner {
  display: flex;
  gap: var(--spacing-s);
  flex-wrap: wrap;
  align-items: center;
}

.title {
  overflow: hidden;
  max-width: calc(100vw - (var(--spacing-xs) * 2));
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: var(--font-size-l);

  @media (min-width: $mobile-portrait) {
    max-width: calc(100vw - (var(--spacing-s) * 2));
  }

  @media (min-width: $mobile-landscape) {
    max-width: calc(100vw - (var(--spacing-m) * 2));
  }
}

.button {
  padding: var(--spacing-xs);
  background-color: var(--color-2);
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--color-1);
}
