.banner {
  display: flex;
  gap: var(--spacing-s);
  flex-wrap: wrap;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-l);
  color: var(--color-3);
}

.button {
  padding: var(--spacing-xs);
  background-color: var(--color-6);
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--color-2);

  &:focus-visible,
  &:active {
    outline-color: var(--color-7);
  }
}
