.heading {
  display: flex;
  gap: var(--spacing-m);
  flex-wrap: wrap;
  align-items: center;
}

.title {
  display: flex;
  gap: var(--spacing-s);
  text-transform: uppercase;
  font-size: var(--font-size-l);
  color: var(--mode-color-3);
}

.button {
  gap: var(--spacing-s);
  padding: var(--spacing-s);
  background-color: var(--mode-color-3);
  font-size: var(--font-size-m);
  color: var(--mode-color-1);

  &:active,
  &:focus-visible {
    outline-width: 0.25rem;
    outline-offset: -0.25rem;
  }
}
