$mobile-landscape: 768px;
$tablet-landscape: 1280px;

.turban {
  animation-name: SlideUp, FadeIn;
  animation-timing-function: var(--ease-quad);
  animation-duration: 0.5s, 0.7s;
  animation-fill-mode: backwards;
  animation-delay: 0.7s;
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-m);
}

.button {
  display: flex;
  align-items: center;
  padding: var(--spacing-xs);
  background-color: var(--mode-color-2);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  color: var(--color-2);

  &:focus-visible {
    outline: 0.25rem solid var(--color-7);
  }

  &.active,
  &:active {
    outline: 0.25rem solid var(--color-7);
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  @media (min-width: $mobile-landscape) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: var(--spacing-m);
  }

  @media (min-width: $tablet-landscape) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: var(--spacing-l);
  }

  & > * {
    animation-name: SlideUp, FadeIn;
    animation-timing-function: var(--ease-quad);
    animation-duration: 0.5s, 0.8s;
    animation-fill-mode: backwards;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.7s + $i * 0.1s};
      }
    }
  }
}

.planet1 {
  top: 40%;
  left: 20%;
  width: 12rem;
  height: 12rem;
  animation:
    Planet1Move 70s infinite alternate 0.5s,
    PlanetSlide 0.5s var(--ease-quad) backwards,
    FadeIn 0.8s var(--ease-quad) backwards;

  &::before {
    display: block;
    right: 20%;
    bottom: 20%;
    height: 3rem;
    width: 3rem;
  }
}

.planet2 {
  top: 70%;
  left: 70%;
  width: 5rem;
  height: 5rem;
  animation:
    Planet2Move 70s infinite alternate 0.7s,
    PlanetSlide 0.5s var(--ease-quad) backwards 0.2s,
    FadeIn 0.8s var(--ease-quad) backwards 0.2s;

  &::after {
    display: block;
    top: 20%;
    right: 20%;
    height: 1rem;
    width: 1rem;
  }
}

.stars {
  top: 5%;
  right: 10%;
  width: 40rem;
  animation:
    StarsSlide 0.5s var(--ease-quad) backwards 0.5s,
    FadeIn 0.7s var(--ease-quad) backwards 0.5s;
}

.star1 {
  width: 2rem;
  height: 2rem;
  animation: Star1Move 60s infinite alternate;
}

.star2 {
  width: 1.5rem;
  height: 1.5rem;
  animation: Star2Move 60s infinite alternate;
}

.star3 {
  width: 1.5rem;
  height: 1.5rem;
  animation: Star3Move 70s infinite alternate;
}

.star4 {
  width: 1.25rem;
  height: 1.25rem;
  animation: Star4Move 70s infinite alternate;
}

.star5 {
  width: 1.15rem;
  height: 1.15rem;
  animation: Star5Move 90s infinite alternate;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SlideUp {
  0% {
    transform: translateY(100%) translateZ(0);
  }
  100% {
    transform: translateY(0) translateZ(0);
  }
}

@keyframes PlanetSlide {
  0% {
    transform: translateY(200vh) translateZ(0);
  }
  100% {
    transform: translateY(0) translateZ(0);
  }
}

@keyframes StarsSlide {
  0% {
    transform: translateX(100vh) translateZ(0);
  }
  100% {
    transform: translateX(0) translateZ(0);
  }
}

@keyframes Planet1Move {
  0% {
    transform: translateY(0) translateZ(0);
  }
  50% {
    transform: translateY(20%) translateZ(0);
  }
  100% {
    transform: translateY(0) translateZ(0);
  }
}

@keyframes Planet2Move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-5%, -5%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes Star1Move {
  0% {
    left: 40%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 40%;
  }
}

@keyframes Star2Move {
  0% {
    left: 80%;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 80%;
  }
}

@keyframes Star3Move {
  0% {
    left: 20%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 20%;
  }
}

@keyframes Star4Move {
  0% {
    left: 0;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 0;
  }
}

@keyframes Star5Move {
  0% {
    left: 0;
  }
  50% {
    left: 40%;
  }
  100% {
    left: 0;
  }
}
