.value {
  font-size: var(--font-size-l);
  color: var(--color-2);
}

.label {
  font-size: var(--font-size-s);
  color: var(--color-2);
}

.variation {
  display: flex;
  align-items: center;
  font-size: var(--font-size-m);
  color: var(--color-2);
}
