$mobile-portrait: 768px;
$mobile-landscape: 1024px;
$tablet-landscape: 1440px;

.banner {
  animation: FadeIn 0.7s var(--ease-quad) backwards 0.1s;
}

.shopping {
  display: flex;
  align-items: center;
  background-color: var(--color-10);
  animation:
    SlideUp 0.5s var(--ease-quad) backwards 0.2s,
    FadeIn 0.7s var(--ease-quad) backwards 0.2s;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--spacing-xs);
  font-size: var(--font-size-m);
  color: var(--mode-color-1);

  @media (min-width: $mobile-landscape) {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-xs);
  }

  &.purchased {
    background-color: var(--color-8);
  }

  &.unlocked {
    background-color: var(--color-9);
  }
}

.label {
  display: none;
  font-size: var(--font-size-s);

  @media (min-width: $mobile-portrait) {
    display: inherit;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-xs);

  & > div {
    animation-name: SlideUp, FadeIn;
    animation-duration: 0.5s, 0.7s;
    animation-timing-function: var(--ease-quad);
    animation-fill-mode: backwards;

    @for $i from 1 through 25 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.2s + $i * 0.1s};
      }
    }
  }
}

.card {
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  padding: var(--spacing-xs);
  background-color: var(--mode-color-2);
  color: var(--mode-color-1);

  @media (min-width: $mobile-landscape) {
    width: calc((100% / 2) - 0.25rem);
  }

  @media (min-width: $tablet-landscape) {
    width: calc((100% / 3) - 0.35rem);
  }
}

.purchased {
  background-color: var(--color-3);
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-m);
}

.text {
  font-size: var(--font-size-s);
}

.button {
  margin-top: auto;
  padding: var(--spacing-xs);
  background-color: var(--mode-color-1);
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--mode-color-2);

  .purchased & {
    pointer-events: none;
    color: var(--color-3);
  }
}

.group {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

@keyframes SlideUp {
  0% {
    transform: translate3d(0, 120vh, 0);
  }
  20% {
    transform: translate3d(0, 10vh, 0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}
