$mobile-portrait: 768px;
$mobile-landscape: 1024px;
$tablet-landscape: 1440px;

.banner {
  animation: FadeIn 0.7s var(--ease-quad) backwards 0.1s;
}

.shopping {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  font-size: var(--font-size-s);

  animation-name: SlideUp, FadeIn;
  animation-duration: 0.5s, 0.7s;
  animation-timing-function: var(--ease-quad);
  animation-fill-mode: backwards;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: #{0.1s + $i * 0.1s};
    }
  }

  @media (min-width: $mobile-portrait) {
    font-size: var(--font-size-m);
  }

  &.purchased {
    color: var(--color-3);
  }

  &.unlocked {
    color: var(--color-3);
  }

  &.locked {
    color: var(--color-3);
  }
}

.progressbar {
  height: 2rem;

  @media (min-width: $mobile-portrait) {
    height: 2.5rem;
  }

  .purchased & {
    background-color: var(--color-3);
  }

  .unlocked & {
    background-color: var(--color-3);
  }

  .locked & {
    background-color: var(--color-3);
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-xs);

  & > div {
    animation-name: SlideUp, FadeIn;
    animation-duration: 0.5s, 0.7s;
    animation-timing-function: var(--ease-quad);
    animation-fill-mode: backwards;

    @for $i from 1 through 26 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.4s + $i * 0.1s};
      }
    }
  }
}

.card {
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
  padding: var(--spacing-xs);
  background-color: var(--mode-color-2);
  color: var(--mode-color-1);

  @media (min-width: $mobile-landscape) {
    width: calc((100% / 2) - 0.25rem);
  }

  @media (min-width: $tablet-landscape) {
    width: calc((100% / 3) - 0.35rem);
  }

  &.purchased {
    background-color: var(--color-4);
  }
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-m);
}

.text {
  font-size: var(--font-size-s);
}

.action {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.button {
  margin-top: auto;
  padding: var(--spacing-xs);
  background-color: var(--mode-color-1);
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--mode-color-2);

  &:disabled {
    opacity: 0.5;
  }

  .purchased & {
    color: var(--color-4);
  }
}

@keyframes SlideUp {
  0% {
    transform: translate3d(0, 120vh, 0);
  }
  20% {
    transform: translate3d(0, 10vh, 0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}
