.debug {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  background-color: #ffbfec;
  font-size: var(--font-size-xs);
  color: #ff00ae;

  form {
    display: flex;
    align-items: center;
  }

  label {
    margin-right: var(--spacing-xs);
  }

  input {
    width: 5rem;
    padding: 0 var(--spacing-xs);
    font-family: var(--font-text), sans-serif;
    font-weight: normal;
    font-size: inherit;
    color: inherit;

    &:focus {
      outline: none;
    }
  }

  button {
    padding: 0 var(--spacing-xs);
    font-family: var(--font-text), sans-serif;
    font-weight: normal;
    font-size: inherit;
    color: inherit;

    &:focus {
      outline: none;
    }
  }

  span {
    margin-left: var(--spacing-xs);
  }

  & > div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--spacing-xs);
  }
}
