.dial {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: var(--font-size-s);
  color: var(--color-2);
}

.value {
  font-size: var(--font-size-l);
}

.label {
  flex: 0 0 100%;
}

.variation {
  display: flex;
  align-items: center;
  padding-left: var(--spacing-xs);
  font-size: var(--font-size-m);
}

//.positive {
//  color: var(--color-8);
//}

//.negative {
//  color: var(--color-10);
//}
