$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.cards {
  gap: var(--spacing-xs);

  @media (min-width: $mobile-portrait) {
    gap: var(--spacing-s);
  }

  @media (min-width: $mobile-landscape) {
    gap: var(--spacing-m);
  }
}
