.space {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.stars {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.stars1 {
  top: 2.5vh;
  left: 10vw;
  width: 25rem;
  animation:
    SlideLeft 0.5s var(--ease-quad) backwards,
    FadeIn 0.7s var(--ease-quad) backwards;
}

.stars2 {
  top: 75vh;
  right: 10vw;
  width: 15rem;
  animation:
    SlideRight 0.5s var(--ease-quad) backwards 0.1s,
    FadeIn 0.7s var(--ease-quad) backwards 0.1s;
}

.star {
  position: relative;
  background: var(--color-1);
}

.star1 {
  width: 4rem;
  height: 2rem;
  animation: Star1 100s infinite alternate;
  opacity: 0.2;
}

.star2 {
  width: 6rem;
  height: 4rem;
  animation: Star2 100s infinite alternate;
  opacity: 0.1;
}

.star3 {
  width: 5rem;
  height: 3rem;
  animation: Star3 80s infinite alternate;
  opacity: 0.3;
}

.star4 {
  width: 5rem;
  height: 3rem;
  animation: Star4 100s infinite alternate;
  opacity: 0.1;
}

.star5 {
  width: 4rem;
  height: 2rem;
  animation: Star5 100s infinite alternate;
  opacity: 0.2;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
}

@keyframes SlideLeft {
  0% {
    transform: translate3d(-100vw, 0, 0);
  }
}

@keyframes SlideRight {
  0% {
    transform: translate3d(100vw, 0, 0);
  }
}

@keyframes Star1 {
  0% {
    left: 0;
  }
  50% {
    left: 16rem;
  }
  100% {
    left: 0;
  }
}

@keyframes Star2 {
  0% {
    left: 19rem;
  }
  50% {
    left: 5rem;
  }
  100% {
    left: 19rem;
  }
}

@keyframes Star3 {
  0% {
    left: 1rem;
  }
  50% {
    left: 20rem;
  }
  100% {
    left: 1rem;
  }
}

@keyframes Star4 {
  0% {
    left: 0;
  }
  50% {
    left: 10rem;
  }
  100% {
    left: 0;
  }
}

@keyframes Star5 {
  0% {
    left: 11rem;
  }
  50% {
    left: 0;
  }
  100% {
    left: 11rem;
  }
}
