.card {
  flex-direction: column;
}

.title {
  padding: var(--spacing-small);
  background-color: #5500ff;
  font-size: var(--font-size-medium);
  color: var(--theme-color-1);
}

.dials {
  background-color: #5500ff;
}

.button {
  margin-top: var(--spacing-small);
  color: #5500ff;
}
