$mobile-portrait: 768px;
$mobile-landscape: 1024px;
$tablet-landscape: 1440px;

.cards {
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-portrait) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  @media (min-width: $mobile-landscape) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $tablet-landscape) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  & > div {
    & > * {
      animation-name: SlideUp, FadeIn;
      animation-timing-function: var(--ease-quad);
      animation-duration: 500ms, 700ms;
      animation-fill-mode: backwards;
    }

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      & > * {
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation-delay: #{200ms + $i * 100ms};
          }
        }
      }
    }
  }
}

@keyframes SlideUp {
  0% {
    transform: translate3d(0, 120vh, 0);
  }
  20% {
    transform: translate3d(0, 10vh, 0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}
