$mobile-portrait: 768px;

.menu {
  position: relative;
  height: 0;
  background-color: var(--theme-color-3);
  transition-property: height;
  transition-duration: 250ms;
  transition-timing-function: var(--ease-expo);
  will-change: height;

  &.open {
    height: 20rem;
    transition-duration: 450ms;

    @media (min-width: $mobile-portrait) {
      height: 10rem;
    }
  }
}

.inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing-small);
  overflow: hidden;
  height: 0;
  visibility: hidden;
  transition-property: height;
  transition-duration: 250ms;
  transition-timing-function: var(--ease-expo);
  will-change: height;
  color: var(--theme-color-1);

  .open & {
    height: 20rem;
    visibility: visible;
    transition-duration: 450ms;

    @media (min-width: $mobile-portrait) {
      height: 10rem;
    }
  }
}

.button {
  position: absolute;
  top: 100%;
  left: 0;
  padding: var(--spacing-small) var(--spacing-small) var(--spacing-small) 0;
  background-color: var(--theme-color-3);
  line-height: var(--font-size-small);
  font-size: var(--font-size-small);
  color: var(--theme-color-1);
  outline-offset: -0.25rem;

  &:focus-visible,
  &:active {
    outline: 0.25rem solid var(--theme-color-9);
  }
}

.icon {
  font-size: var(--font-size-medium);
}
