$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.menu {
  position: relative;
  height: 0;
  background-color: var(--mode-color-3);
  transition-property: height;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease-expo);

  &.open {
    height: 4rem;
    transition-duration: 0.45s;

    @media (min-width: $mobile-landscape) {
      height: 5rem;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-s);
  overflow: hidden;
  height: 0;
  visibility: hidden;
  transition-property: height;
  transition-duration: 0.25s;
  transition-timing-function: var(--ease-expo);
  color: var(--mode-color-1);

  @media (min-width: $mobile-portrait) {
    align-items: center;
  }

  .open & {
    height: 4rem;
    visibility: visible;
    transition-duration: 0.45s;

    @media (min-width: $mobile-landscape) {
      height: 5rem;
    }
  }
}

.button {
  position: absolute;
  top: 100%;
  right: 0;
  padding: var(--spacing-s);
  background-color: var(--mode-color-3);
  font-size: var(--font-size-m);
  color: var(--mode-color-1);

  &:active,
  &:focus-visible {
    outline-width: 0.25rem;
    outline-offset: -0.25rem;
  }
}

.label {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  padding: var(--spacing-s);
  background-color: var(--mode-color-2);
  opacity: 0;
  visibility: hidden;
  transition-property: right, opacity, visibility;
  transition-duration: 0.3s, 0.3s, 0s;
  transition-timing-function: var(--ease-in-out-quad);
  transition-delay: 0s, 0s, 0.3s;
  font-size: var(--font-size-s);
  color: var(--mode-color-3);

  //.open &,
  //.button:hover &,
  //.button:focus-visible & {
  .open & {
    right: 100%;
    opacity: 1;
    visibility: visible;
    transition-duration: 0.4s, 0.4s, 0s;
    transition-delay: 0s;
  }
}
