$mobile-portrait: 768px;

.menu {
  position: relative;
  height: 0;
  background-color: var(--theme-color-3);
  transition-property: height;
  transition-duration: 250ms;
  transition-timing-function: var(--ease-expo);
  will-change: height;

  &.open {
    height: 9rem;
    transition-duration: 450ms;

    @media (min-width: $mobile-portrait) {
      height: 4rem;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-small);
  overflow: hidden;
  height: 0;
  visibility: hidden;
  transition-property: height;
  transition-duration: 250ms;
  transition-timing-function: var(--ease-expo);
  will-change: height;
  color: var(--theme-color-1);

  @media (min-width: $mobile-portrait) {
    align-items: center;
  }

  .open & {
    height: 9rem;
    visibility: visible;
    transition-duration: 450ms;

    @media (min-width: $mobile-portrait) {
      height: 4rem;
    }
  }
}

.button {
  position: absolute;
  top: 100%;
  right: 0;
  padding: var(--spacing-small);
  background-color: var(--theme-color-3);
  font-size: var(--font-size-medium);
  color: var(--theme-color-1);

  &:hover,
  &:active,
  &:focus-visible {
    outline-width: 0.25rem;
    outline-offset: -0.25rem;
  }
}

.label {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: -1;
  padding: var(--spacing-small);
  background-color: var(--theme-color-2);
  visibility: hidden;
  transform: translate3d(100%, 0, 0);
  transition-property: visibility, transform;
  transition-duration: 0ms, 250ms;
  transition-timing-function: var(--ease-expo);
  transition-delay: 250ms, 0ms;
  font-size: var(--font-size-small);
  color: var(--theme-color-3);
  will-change: transform;

  .open & {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    transition-duration: 0ms, 450ms;
    transition-delay: 0ms;
  }
}
