$mobile-landscape: 1024px;

.progressBars {
  display: flex;
  overflow: hidden;
}

.stick {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  font-size: var(--font-size-s);
  color: var(--color-1);
}

.label {
  font-size: 0;

  @media (min-width: $mobile-landscape) {
    font-size: var(--font-size-s);
  }
}

.used {
  //background-color: var(--color-7);
  border-right: 0.5rem solid var(--color-1);
}

.unlocked {
  //background-color: var(--color-8);
  border-right: 0.5rem solid var(--color-1);
}

.locked {
  //background-color: var(--color-9);
}
