// 1st Stage. dusk (crépuscule), 2nd Stage. tumult (tumulte), 3rd Stage. cataclysm (cataclysme)

@mixin if-dusk {
  ._dusk_3mma_0 {
    @content;
  }
}

@mixin dusk {
  --theme-color-1: var(--color-8);
  --theme-color-2: var(--color-2);
  //
  --theme-color-3: #51c2ff;
  --theme-color-4: #ff0089;
  --theme-color-5: #fff;
  --theme-color-6: var(--color-3);
  --theme-color-7: #0051ff;
}

:root {
  @include if-dusk {
    @include dusk();
  }
}
