.pause {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.button {
  position: sticky;
  bottom: 1rem;
  z-index: 2;
  background-color: var(--color-8);
  transform-origin: center;
  //backface-visibility: hidden;
  animation: Appear 0.4s var(--ease-expo);
  will-change: transform;
}

.label {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xs);
  line-height: 1.1;
  text-transform: uppercase;
  font-size: var(--font-size-s);
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  background-color: var(--color-2);
}

@keyframes Appear {
  0% {
    transform: translate3d(0, 10rem, 0) scale(0.8);
  }
}
