.dial {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: var(--font-size-m);
}

.label {
  flex: 0 0 100%;
  font-size: var(--font-size-s);
}

.value {
  font-size: var(--font-size-m);
}
