.dial {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;

  //&::before,
  //&::after {
  //  content: '';
  //  position: absolute;
  //  right: 0;
  //  left: 0;
  //  height: 0.25rem;
  //}
  //
  //&::before {
  //  top: 0;
  //  background-color: var(--color-7);
  //}
  //
  //&::after {
  //  bottom: 0;
  //  background-color: var(--color-3);
  //}
}
