.login {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  margin: auto;
  max-width: 20rem;
}

//.title,
//.name,
//.password,
//.button {
//  animation-name: SlideUp, FadeIn;
//  animation-timing-function: var(--ease-quad);
//  animation-duration: 0.5s;
//  animation-fill-mode: backwards;
//}

.title {
  font-size: var(--font-size-large);
}

//.name {
//  animation-delay: 0.1s;
//}

//.password {
//  animation-delay: 0.2s;
//}

.buttons {
  display: flex;
  gap: var(--spacing-small);
}

.button {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  padding: var(--spacing-small);
  background-color: var(--theme-color-3);
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  color: var(--theme-color-1);

  &:focus-visible,
  &:active {
    outline-width: 0.35rem;
  }

  //&:nth-child(1) {
  //  animation-delay: 0.3s;
  //}
  //
  //&:nth-child(2) {
  //  animation-delay: 0.4s;
  //}
}

//@keyframes SlideUp {
//  0% {
//    transform: translateY(120vh) translateZ(0);
//  }
//  20% {
//    transform: translateY(10vh) translateZ(0);
//  }
//  100% {
//    transform: translateY(0) translateZ(0);
//  }
//}
//
//@keyframes FadeIn {
//  0% {
//    opacity: 0;
//  }
//  50% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}
