@use "@/src/assets/styles/index" as *;

#_kumi_emma3_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-2);
  font-family: var(--font-text), sans-serif;
  color: var(--color-1);
}
