@use '@/src/assets/styles/index' as *;

#_ppc_emma0_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background: var(--theme-color-1);
  font-family: var(--font-text), sans-serif;
  color: var(--theme-color-3);
  //text-shadow:
  //  -2px 2px var(--color-2),
  //  0 1px var(--color-2),
  //  1px 0 var(--color-2),
  //  0 -1px var(--color-2);
}
