.thumbnail {
  display: flex;
  align-items: center;
  margin: 0 var(--spacing-xs);
  padding: 0.15rem 0.25rem;
  font-size: var(--font-size-xs);
  border-width: 0.2rem;
  border-style: solid;

  &.info {
    border-color: var(--color-4);
    color: var(--color-4);
  }

  &.success {
    border-color: var(--color-3);
    color: var(--color-3);
  }

  &.warning {
    border-color: var(--color-5);
    color: var(--color-5);
  }

  &.error {
    border-color: var(--color-6);
    color: var(--color-6);
  }
}
