.button {
  background-color: transparent;
  border: none;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-text), sans-serif;
  font-weight: normal;
  cursor: pointer;

  &:focus-visible {
    outline: 0.35rem solid var(--color-7);
  }

  &.active,
  &:active {
    outline: 0.35rem solid var(--color-7);
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}
