$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-small);

  @media (min-width: $mobile-portrait) {
    flex-flow: row wrap;
  }

  @media (min-width: $mobile-landscape) {
    gap: var(--spacing-large);
  }
}

.link {
  display: flex;
  gap: var(--spacing-small);
  padding: var(--spacing-x-small);
  color: var(--theme-color-1);

  @media (min-width: $mobile-portrait) {
    padding: var(--spacing-small);
  }

  &:focus-visible,
  &:active {
    outline-width: 0.25rem;
    outline-offset: 0.15rem;

    @media (min-width: $mobile-portrait) {
      outline-offset: 0;
    }
  }
}

.label {
  font-size: var(--font-size-medium);
}

.icon {
  font-size: var(--font-size-medium);

  @media (min-width: $mobile-portrait) {
    font-size: var(--font-size-large);
  }
}
