$mobile-portrait: 768px;

.nav {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: 0 var(--spacing-xs);

  @media (min-width: $mobile-portrait) {
    flex-flow: row wrap;
    gap: var(--spacing-s);
  }
}

.link {
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--color-2);
  outline-offset: -0.25rem;
}
