$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 8vh;

  @media (min-width: $mobile-portrait) {
    height: 9vh;
  }
}

.button {
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-m);
  text-decoration: none;
  color: var(--mode-color-1);

  @media (min-width: $mobile-portrait) {
    gap: var(--spacing-s);
    padding: 0 var(--spacing-s);
  }

  @media (min-width: $mobile-landscape) {
    padding: 0 var(--spacing-m);
  }

  //&.active {
  //  background-color: var(--color-16);
  //}

  &:focus-visible {
    outline: 0.25rem solid var(--color-15);
    outline-offset: -0.25rem;
  }
}

.label {
  backface-visibility: hidden;
  font-size: 0;

  @media (min-width: $mobile-portrait) {
    font-size: var(--font-size-m);
  }
}

.icon {
  backface-visibility: hidden;
  font-size: var(--font-size-l);
}
