$mobile-portrait: 768px;

.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: 0 var(--spacing-small);

  @media (min-width: $mobile-portrait) {
    flex-flow: row wrap;
    gap: var(--spacing-medium);
  }
}

.link {
  text-transform: uppercase;
  font-size: var(--font-size-medium);
  color: var(--theme-color-1);
  outline-offset: 0.25rem;
}
