$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0 var(--spacing-medium);
  text-decoration: none;
  color: var(--theme-color-1);

  @media (min-width: $mobile-portrait) {
    gap: var(--spacing-small);
    padding: 0 var(--spacing-small);
  }

  @media (min-width: $mobile-landscape) {
    padding: 0 var(--spacing-medium);
  }

  &.active {
    background-color: var(--theme-color-6);
  }

  &:focus-visible {
    outline: 0.25rem solid var(--theme-color-15);
    outline-offset: -0.25rem;
  }
}

.label {
  font-size: 0;

  @media (min-width: $mobile-portrait) {
    font-size: var(--font-size-medium);
  }
}

.icon {
  font-size: var(--font-size-large);
}
