$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.navigation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: 0 var(--spacing-small);

  @media (min-width: $mobile-portrait) {
    flex-flow: row wrap;
    gap: var(--spacing-medium);
  }
  @media (min-width: $mobile-landscape) {
    gap: var(--spacing-large);
  }
}

.link {
  font-size: var(--font-size-medium);
  color: var(--theme-color-1);

  &:focus-visible,
  &:active {
    outline-width: 0.25rem;
    outline-offset: 0.15rem;

    @media (min-width: $mobile-portrait) {
      outline-offset: 0.25rem;
    }
  }
}
