.title {
  text-transform: uppercase;
  font-size: var(--font-size-l);
}

.button {
  padding: var(--spacing-xs);
  background-color: var(--color-2);
  text-transform: uppercase;
  font-size: var(--font-size-s);
  color: var(--color-1);
}
