$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.logged {
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
  position: absolute;
  top: var(--spacing-xs);
  right: var(--spacing-xs);
  z-index: 2;
  text-transform: uppercase;
  font-size: var(--font-size-s);

  @media (min-width: $mobile-portrait) {
    top: var(--spacing-s);
    right: var(--spacing-s);
  }

  @media (min-width: $mobile-landscape) {
    top: var(--spacing-m);
    right: var(--spacing-m);
  }
}
