$mobile-portrait: 768px;
$mobile-landscape: 1024px;
$tablet-landscape: 1440px;

.banner {
  animation-name: SlideUp, FadeIn;
  animation-timing-function: var(--ease-quad);
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

.cards {
  display: flex;
  flex-direction: column;

  @media (min-width: $mobile-portrait) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }

  @media (min-width: $mobile-landscape) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $tablet-landscape) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  & > div {
    animation-name: SlideUp, FadeIn;
    animation-timing-function: var(--ease-quad);
    animation-duration: 0.5s;
    animation-fill-mode: backwards;

    @for $i from 1 through 7 {
      &:nth-child(#{$i}) {
        animation-delay: #{0.1s + $i * 0.1s};
      }
    }
  }
}

.card {
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  font-size: var(--font-size-s);
}

.group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: var(--spacing-xs);
}

.value {
  font-size: var(--font-size-l);
  color: var(--color-1);
}

.label {
  flex: 0 0 100%;
  font-size: var(--font-size-s);
  color: var(--color-1);
}

.buttons {
  display: flex;
  gap: var(--spacing-xs);
}

.button {
  margin-top: var(--spacing-xs);
  padding: var(--spacing-xs);
  background-color: var(--color-1);
  font-size: var(--font-size-s);
  color: var(--color-2);
}

@keyframes SlideUp {
  0% {
    transform: translateY(1200px) translateZ(0);
  }
  20% {
    transform: translateY(120px) translateZ(0);
  }
  100% {
    transform: translateY(0) translateZ(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
