.progressbar {
  background-color: var(--theme-color-2);

  &.small {
    height: 1rem;
  }

  &.medium {
    height: 1.5rem;
  }

  &.large {
    height: 3rem;
  }
}

.progress {
  width: 0;
  height: 100%;
  background-color: var(--theme-color-3);
  transition: 100ms width var(--ease-out);

  &.completed {
    background-color: var(--theme-color-8);
  }
}
