.clip {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  padding: var(--spacing-xs);
  background-color: var(--mode-color-2);
  font-size: var(--font-size-s);
  color: var(--mode-color-1);
  animation:
    SlideUp 0.5s var(--ease-quad) backwards 0.2s,
    FadeIn 0.7s var(--ease-quad) backwards 0.2s;
}

.value {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: var(--font-size-m);
}

@keyframes SlideUp {
  0% {
    transform: translate3d(0, 120vh, 0);
  }
  20% {
    transform: translate3d(0, 10vh, 0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}
