// 1st Theme dusk (crépuscule), 2nd Theme tumult (tumulte), 3rd Theme cataclysm (cataclysme)

@mixin if-dusk {
  ._dusk_emma0_1 {
    @content;
  }
}

@mixin dusk {
  --theme-color-1: var(--color-1);
  --theme-color-2: var(--color-2);
  --theme-color-3: var(--color-3);
  --theme-color-4: var(--color-4);
  --theme-color-5: var(--color-5);
  --theme-color-6: var(--color-6);
  --theme-color-7: var(--color-7);
  --theme-color-8: var(--color-8);
  --theme-color-9: var(--color-9);
  --theme-color-10: var(--color-10);
}

:root {
  @include if-dusk {
    @include dusk();
  }
}
