.admin {
  position: relative;
  z-index: 3;
  display: flex;
  flex-flow: row wrap;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  background-color: var(--color-13);
  font-size: var(--font-size-xs);
  color: var(--color-12);

  form {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    &:first-child {
      padding-left: calc(var(--spacing-xl) + var(--spacing-l));
    }
  }

  input {
    width: 5rem;
    padding: 0 var(--spacing-xs);
    font-family: var(--font-text), sans-serif;
    font-weight: normal;
    font-size: inherit;
    color: inherit;

    &:focus {
      outline: none;
    }
  }

  button {
    padding: 0 var(--spacing-xs);
    font-family: var(--font-text), sans-serif;
    font-weight: normal;
    font-size: inherit;
    color: inherit;
  }

  //& > div {
  //  display: flex;
  //  flex-flow: row wrap;
  //  align-items: center;
  //  gap: var(--spacing-xs);
  //}

  //span {
  //  padding-left: var(--spacing-xs);
  //}
}
