.pause {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.button {
  position: sticky;
  bottom: 1rem;
  z-index: 2;
  height: 3.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: var(--mode-color-2);
  transform-origin: center;
  animation: Appear 0.25s var(--ease-expo);
  //will-change: height, opacity, transform;
  //backface-visibility: hidden;

  &.out {
    height: 1rem;
    opacity: 0;
    bottom: 4rem;
    transition-property: height, opacity, bottom;
    transition-duration: 0.5s, 0.3s, 0.5s;
    transition-delay: 0s, 0.1s, 0s;
    transition-timing-function: var(--ease-expo);
  }
}

.label {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-s);
  text-transform: uppercase;
  font-size: var(--font-size-s);

  .out & {
    transition: transform 0.5s var(--ease-expo);
    transform: translateY(-0.5rem);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  background-color: var(--color-2);
}

@keyframes Appear {
  0% {
    transform: translate3d(0, 100%, 0);
  }
}
