.card {
  flex-direction: column;
}

.title {
  padding: var(--spacing-small);
  background-color: var(--color-5);
  font-size: var(--font-size-medium);
  color: var(--theme-color-1);
}

.dials {
  background-color: var(--color-5);
}

.button {
  margin-top: var(--spacing-small);
  color: var(--color-5);
}
