.alert {
  overflow: hidden;
  width: 25rem;
  color: var(--color-1);
  pointer-events: initial;

  &.in {
    animation: Appear 0.5s var(--ease-expo);
    //will-change: opacity, transform;
  }

  &.out {
    width: 8rem;
    transform: translateX(-4rem);
    opacity: 0;
    transition-property: width, transform, opacity;
    transition-duration: 0.5s, 0.5s, 0.3s;
    transition-delay: 0s, 0s, 0.1s;
    transition-timing-function: var(--ease-expo);
    //will-change: opacity;
  }

  &.success {
    background-color: var(--color-3);
  }

  &.info {
    background-color: var(--color-4);
  }

  &.warning {
    background-color: var(--color-5);
  }

  &.error {
    background-color: var(--color-6);
  }
}

.inner {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  width: 25rem;
  white-space: collapse;
}

.text {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  padding: var(--spacing-xs);
  font-size: var(--font-size-xs);
  color: var(--color-2);

  .out & {
    transition: transform 0.5s var(--ease-expo);
    transform: translateX(-10rem);
  }

  &::first-letter {
    text-transform: uppercase;
  }
}

.button {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-xs);
  background-color: var(--color-2);
  font-size: var(--font-size-s);
  pointer-events: initial;

  .success & {
    color: var(--color-3);
  }

  .info & {
    color: var(--color-4);
  }

  .warning & {
    color: var(--color-5);
  }

  .error & {
    color: var(--color-6);
  }
}

@keyframes Appear {
  0% {
    transform: translateX(100%) translateZ(0);
  }
}
