$mobile-portrait: 768px;

.article {
  position: relative;
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-small);

  @media (min-width: $mobile-portrait) {
    gap: var(--spacing-medium);
    padding: var(--spacing-medium);
  }
}
