.button {
  position: relative;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 3.5rem;
  height: 2rem;
  //padding: var(--spacing-xs);
  background-color: var(--mode-color-1);
  //font-size: var(--font-size-s);
  font-size: var(--font-size-m);
  color: var(--mode-color-2);

  .disabled & {
    opacity: 0.5;
  }
}

.value {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  white-space: nowrap;
  animation: SlideUp 0.5s var(--ease-out);
  font-size: var(--font-size-l);
  color: var(--color-5);
}

@keyframes SlideUp {
  0% {
    transform: translate3d(1rem, -2rem, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translate3d(1.25rem, -5rem, 0);
  }
  100% {
    transform: translate3d(1.5rem, -6rem, 0);
  }
}
