.button {
  position: relative;
  background-color: transparent;
  font-size: var(--font-size-medium);

  &:focus-visible,
  &:active {
    outline-width: 0.35rem;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: var(--spacing-small);
  background-color: var(--theme-color-1);

  .disabled & {
    opacity: 0.5;
  }
}

.value {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  white-space: nowrap;
  padding: var(--spacing-small);
  animation: SlideUp 500ms var(--ease-out);
  background-color: var(--theme-color-13);
  font-size: var(--font-size-large);
  color: var(--theme-color-1);
}

@keyframes SlideUp {
  0% {
    transform: translate3d(1rem, -2rem, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    transform: translate3d(1.25rem, -5rem, 0);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate3d(1.5rem, -6rem, 0);
    opacity: 0;
  }
}
