.tooltip {
  position: absolute;
  z-index: -1;
  white-space: nowrap;
  padding: var(--spacing-small);
  background-color: var(--theme-color-2);
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility, transform;
  transition-duration: 0ms, 0ms, 200ms;
  transition-timing-function: var(--ease-expo);
  transition-delay: 200ms, 200ms, 0ms;
  font-size: var(--font-size-small);
  color: var(--theme-color-3);
}

.top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.top-start {
  bottom: 100%;
  left: 0;
}

.top-end {
  bottom: 100%;
  right: 0;
}

.right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.right-start {
  top: 0;
  left: 100%;
}

.right-end {
  bottom: 0;
  left: 100%;
}

.bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-start {
  top: 100%;
  left: 0;
}

.bottom-end {
  top: 100%;
  right: 0;
}

.left {
  top: 50%;
  right: 100%;
  transform: translate3d(100%, -50%, 0);
}

.left-start {
  top: 0;
  right: 100%;
  transform: translate3d(100%, 0, 0);
}

.left-end {
  bottom: 0;
  right: 100%;
  transform: translate3d(100%, 0, 0);
}
