$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.deal {
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
  padding: var(--spacing-xs);
  background-color: var(--color-3);
  animation:
    SlideUp 0.5s var(--ease-quad) backwards 0.1s,
    FadeIn 0.7s var(--ease-quad) backwards 0.1s;
}

.goods {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-m);
  color: var(--color-2);

  @media (min-width: $mobile-landscape) {
    flex-direction: row;
    gap: var(--spacing-xs);
  }
}

.label {
  display: none;

  @media (min-width: $mobile-portrait) {
    display: inherit;
  }
}

@keyframes SlideUp {
  0% {
    transform: translate3d(0, 120vh, 0);
  }
  20% {
    transform: translate3d(0, 10vh, 0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
}
