$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 var(--spacing-xs) var(--spacing-xs);
  background-color: var(--color-2);

  @media (min-width: $mobile-portrait) {
    margin: 0 var(--spacing-s) var(--spacing-s);
  }

  @media (min-width: $mobile-landscape) {
    margin: 0 var(--spacing-m) var(--spacing-m);
  }
}

.button {
  padding: var(--spacing-xs);
  font-size: var(--font-size-xs);
  color: var(--color-1);
  outline-offset: -0.25rem;
}
