$mobile-portrait: 768px;

.footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--spacing-small);
  margin: 0 var(--spacing-small) var(--spacing-small);

  @media (min-width: $mobile-portrait) {
    margin: 0 var(--spacing-medium) var(--spacing-medium);
  }
}
