$mobile-portrait: 768px;
$mobile-landscape: 1024px;

.footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 var(--spacing-xs) var(--spacing-xs);

  @media (min-width: $mobile-portrait) {
    margin: 0 var(--spacing-s) var(--spacing-s);
  }
}

.button {
  font-size: var(--font-size-xs);
  color: var(--color-3);
  outline-offset: 0.25rem;
}
