@font-face {
  font-family: 'Text';
  src:
    url('../fonts/Text.woff') format('woff'),
    url('../fonts/Text.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Icon';
  src:
    url('../fonts/Icon.woff') format('woff'),
    url('../fonts/Icon.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}
