@mixin font {
  --font-text: 'Text';
  --font-icon: 'Icon';
}

@mixin color {
  --color-1: #fafafa;
  --color-2: #030009;
  --color-3: #6300ff;
  --color-4: #00f7ff;
  --color-5: #ff003b;
  --color-6: #ff0090;
  --color-7: #ffa8d9;
  --color-8: #48ff00;
  --color-9: #f7ff00;
  --color-10: #ff7300;
}

@mixin size {
  --font-size-xl: 5rem;
  --font-size-l: 2.5rem;
  --font-size-m: 2rem;
  --font-size-s: 1.5rem;
  --font-size-xs: 1rem;
}

@mixin spacing {
  --spacing-xl: 3rem;
  --spacing-l: 2rem;
  --spacing-m: 1.5rem;
  --spacing-s: 1rem;
  --spacing-xs: 0.5rem;
}

@mixin easing {
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
  --ease-in: cubic-bezier(1, 0.005, 0, 1.2);
  --ease-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-expo: cubic-bezier(0.25, 0.8, 0.25, 1);
}

:root {
  @include font();
  @include color();
  @include size();
  @include spacing();
  @include easing();
}
