@mixin font {
  --font-text: 'Text';
}

@mixin color {
  --color-1: #030009;
  --color-2: #17003c;
  --color-3: #6300ff;
  --color-4: #00f7ff;
  --color-5: #00ffb2;
  --color-6: #48ff00;
}

@mixin size {
  --font-size-large: 4rem;
  --font-size-medium: 2rem;
  --font-size-small: 1rem;
}

@mixin spacing {
  --spacing-large: 2.5rem;
  --spacing-medium: 1.5rem;
  --spacing-small: 0.5rem;
}

@mixin easing {
  --ease-expo: cubic-bezier(0.25, 0.8, 0.25, 1);
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
}

:root {
  @include font();
  @include color();
  @include size();
  @include spacing();
  @include easing();
}
