@mixin font {
  --font-text: 'Text', sans-serif;
}

@mixin color {
  --color-1: #030009;
  --color-2: #140049;
  --color-3: #4800ff;
  --color-5: #6300ff;
  --color-6: #00f7ff;
  --color-7: #00ffb2;
  --color-8: #48ff00;
}

@mixin size {
  --font-size-wide: 4rem;
  --font-size-large: 2.5rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1rem;
}

@mixin spacing {
  --spacing-large: 2.5rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
}

@mixin easing {
  --ease-expo: cubic-bezier(0.25, 0.8, 0.25, 1);
  --ease-out: cubic-bezier(0, 0, 0.58, 1);
}

:root {
  @include font();
  @include color();
  @include size();
  @include spacing();
  @include easing();
}
