.notices {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
}

.inner {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--spacing-small);
  padding: var(--spacing-small);
}
