.badge {
  display: flex;
  align-items: center;
  padding: 0.125rem;
  border: 0.1rem solid var(--color-2);
  font-size: var(--font-size-s);
  color: var(--color-2);

  &.info {
    background-color: var(--color-9);
  }

  &.success {
    background-color: var(--color-8);
  }

  &.warning {
    background-color: var(--color-10);
  }

  &.error {
    background-color: var(--color-5);
  }
}
