$mobile-portrait: 768px;

.logged {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  padding: 0.25rem;
  background-color: var(--color-3);
  text-transform: uppercase;
  font-size: var(--font-size-m);
  color: var(--color-2);

  @media (min-width: $mobile-portrait) {
    padding: var(--spacing-xs);
    font-size: var(--font-size-l);
  }
}
