$mobile-landscape: 768px;

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  @media (min-width: $mobile-landscape) {
    gap: var(--spacing-s);
  }
}

.title {
  padding-bottom: 0.2rem;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  box-shadow: 0 0.2rem var(--mode-color-2);
  color: var(--mode-color-2);
}

.background {
  width: 100%;
}
